.course-card-statistic-text {
  text-align: right;
  padding-top: 10px;
}

.inline {
  display: inline;
}

.flex-container-action {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.flex-container-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}